.container{
    border: 2px solid black;
    background-color: darkcyan;
}
.nav{
    background-color: darkcyan;
    
    margin-left: 80px;
}

.nav-link{
    color: white;
    
    
}

.nav-link:hover{
    color: white;
    background-color: rgb(255, 203, 71);
}
h3{
    margin-top: 10px;
}
